[Unit]
Description=omen sync (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/omen --config /etc/omen/%i.yaml
EnvironmentFile=-/etc/omen/%i.env
SyslogIdentifier=omen-%i
